<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Livro</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Adicionar novo livro</h1>

    <div th:if="${message}" th:text="${message}"></div>

    <form th:action="@{/books}" th:object="${book}" method="post">
        <p>Título: <input type="text" th:field="*{title}" required /></p>
        <p>Gênero: <input type="text" th:field="*{genre}" required /></p>
        <p>Autor: <input type="text" th:field="*{author.firstName}" placeholder="Nome" required />
            <input type="text" th:field="*{author.lastName}" placeholder="Sobrenome" required /></p>
        <p>Editora: <input type="text" th:field="*{publisher.name}" /></p>
        <p><input type="submit" value="Adicionar" /></p>
    </form>
    <a href="/">Voltar para a página inicial</a>
</body>
</html>