<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Livros</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Listagem de Livros</h1>
    <table>
        <thead>
            <tr>
                <th>Título</th>
                <th>Gênero</th>
                <th>Autor</th>
                <th>Editora</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.genre}"></td>
                <td th:text="${book.author.firstName + ' ' + book.author.lastName}"></td>
                <td th:text="${book.publisher.name}"></td>
                <td>
                    <form th:action="@{/books/my-books/add}" method="post">
                        <input type="hidden" name="bookId" th:value="${book.id}" />
                        <button type="submit">Adicionar à Meus Livros</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/">Voltar para a página inicial</a>
</body>
</html>